@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes flash {
  from {
    opacity: 0.9;
  }

  to {
    opacity: 0;
  }
}

.animate-flash {
  animation: flash 150ms ease-out;
}